@model IEnumerable<VehicleManagementSystem.Web.Models.Car>

@{
    ViewData["Title"] = "Index"; 
}

<h2>Create Car</h2>

<p>
      <a asp-action="Add">Create New</a>
</p>
<table class="table">
   <thead>
       <tr>
           <th>
               @Html.DisplayNameFor(model => model.Id)
           </th>
           <th>
               @Html.DisplayNameFor(model => model.VehicleType)
           </th>
           <th>
               @Html.DisplayNameFor(model => model.Make)
           </th>
           <th>
               @Html.DisplayNameFor(model => model.Model)
           </th>
           <th>
               @Html.DisplayNameFor(model => model.Engine)
           </th>
           <th>
               @Html.DisplayNameFor(model => model.Doors)
           </th>
           <th>
               @Html.DisplayNameFor(model => model.Wheels)
           </th>
           <th>
               @Html.DisplayNameFor(model => model.BodyType)
           </th>
           <th></th>
       </tr>
    </thead>
    <tbody>
 @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Engine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wheels)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BodyType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                
                <form asp-action="Delete">
                    <input type="hidden" value="@item.Id" name="id" />
                    <input type="submit" value="Delete" />
                </form>

            </td>
        </tr>}
    </tbody>
</table>
